/*
Global
============================= */

body{
	font-family:'Source Sans Pro', sans-serif;
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}



h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px;}
h2{font-size: 30px; font-weight: 300; color:#444; margin: 30px 0}
h3{font-size: 25px; font-weight: 400; margin: 20px 0;}
h4{font-size:18px; font-weight: 400}

/* 
HEADER ROW STYLE
===========================*/
#header-row{
	background: #f5f5f5;
	border-bottom:1px solid #eee;
	padding: 15px 0;
}

#header-row .navbar{margin:10px 0 0 0;}

#header-row .navbar .navbar-inner{
	border:none;
	box-shadow: none;
	margin: 0;
	background: transparent;
}

#header-row .navbar .navbar-inner ul.nav > li > a{
	box-shadow: none;
	background: transparent;
	color: #0088cc;
}
#header-row .navbar .navbar-inner ul.nav li.active a{
	color: #333;
}


/* 
Carousel
===========================*/

.carousel-control{
	background: transparent;
	width: 14px;
	height: 14px;
	font-size: 14px;
	top:50%;	
}

.carousel-control.right{right:-30px;}
.carousel-control.left{left:-30px;}



.carousel{
	height: 300px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}

.carousel img{
	max-width: 100%;
}

.carousel-caption {
      background-color: transparent;
      position: relative;
      max-width: 100%;
      padding: 0 20px;
      margin-top:20%;

}

.carousel-caption h1{
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 30px;
	color:#555;
	font-weight:200;
}
.carousel-caption .lead{
	color: #888;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	font-weight: 400
}


/* Divider
==================*/
.hr-divider{
	background: url(../img/slide-bg.png) no-repeat bottom center; 
	width:1170px;
	height: 100px;
	margin-bottom: 50px;
	display: block;
	clear: both;}

/*Feature
==========================*/
.feature-box{
	margin-top: 60px;
	text-align: center;
}
.cnt-title { text-align: center; margin-bottom: 50px;}
.cnt-title span { 
	font-size: 24px;
	font-weight: 200;
}

/* Review
==========================*/
.review{
	margin: 80px 0;
}

/* Page Header
==========================*/

.page-header{
	border-bottom: 1px solid #f5f5f5;
}


/*Media
========================*/

.media{
	margin-bottom:50px;
}

/*MAP
========================*/
#map-canvas{
	height: 400px;
	border: 15px solid #fff;
	box-shadow:0 0 0 1px #f5f5f5;
}


/*MAP
========================*/

.blog-post{
		border-bottom: 2px solid #f5f5f5;
		padding:0 0 50px; 
		margin-bottom: 40px;
}


.blog-post p{
	margin: 20px 0;

}


.postmetadata{
	margin-bottom: 20px;
	padding: 5px 0;
}

.postmetadata ul{margin: 0; padding: 0}

.postmetadata ul li{
	display: inline-block;
	margin-right: 20px;
}

.postmetadata i{
	margin: 4px 5px 0 0;
}


/*Sidebar
========================*/

.side-bar{margin-bottom: 30px;}

.side-bar ul{margin: 0; padding: 0}
.side-bar ul li{list-style: none;}

.side-bar h3{margin-bottom: 10px}

.recent-post strong {display: block; margin-bottom: 5px; color: #888 }

.recent-post li{margin-bottom: 15px}

/*Tags
========================*/



/*Foomodal-content
========================*/

footer{
border-top:1px solid #eee;
background: #f5f5f5;
padding: 30px 0;
color: #ccc;
margin-top:40px;
}


/* Responsive View
=================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }


